// hero section styles

.hero-item-container {
    display: flex;
    gap: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.item {
    flex: 1;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


// .image-container inherits .item styles


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: contain;
}

// slogan section styles

.slogan-section {
    background: #1D2858;
    flex-direction: column;
}

.slogan-text {
    font-size: 2rem;
    color: white;
    padding: 10px;
    text-align: center;
}